<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="fr.bootz.testphonegap" version="1.0.0" viewmodes="windowed fullscreen">
<content src="index.html"/>
<icon src="icon.png"/>
<name short="testHistoireHTML">Histoire de Lorem Ipsum</name>
<description>test histoire HTML</description>
<author href="http://www.bootz.fr" email="troubrul@free.fr">Philippe</author>
<licence>Copyright (c) 2017 Philippe.</licence>
<access origin="*" />
<preference name="Fullscreen" value="true" />
<preference name="Orientation" value="default" />
</widget>
